<div class="card card-main">
        <button class="btn" (click)="uploadFile()"><img *ngIf="!imageUploaded" src="./assets/sampleuser.jpg" class="card-img-top heading-img" alt="..."></button>
        <input [hidden] = "true" (change)="selectFile($event)" type="file" id="myFile">
        <img [src]="imgURL" class="user-image-contact-save" *ngIf="imgURL">
    <div class="card-body text-center bg-light">
                <form>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="name lead" for="firstName">FirstName</label>
                            <input type="text" class="form-control" id="firstName" placeholder="firstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="name lead" for="lastName">LastName</label>
                            <input type="text" class="form-control" id="lastName" placeholder="lastName">
                        </div>
                        </div>
                        <div class="form-group">
                        <label class="name lead" for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="name lead" for="Phone">Phone Number</label>
                            <input type="text" class="form-control" placeholder="1232123" id="inputNumber">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="name lead" for="email">Email</label>
                            <input type="email" class="form-control" placeholder="abc@xyx.com" id="inputNumber">
                        </div>
                        </div>
                    </form>
            <a [routerLink]="['/contacts']" class="btn btn-primary">Save Contact</a>
        </div>
    </div>
