<div class="container">
    <!-- contacts card -->
    <div class="card card-default">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-10 text-center">
                <h1 class="fa  fa-2x pulse" >My Contacts</h1>
                <input [(ngModel)]="searchTerm" class="form-control searchbox" type="text" placeholder="search contact by name">
            </div>
            <div class="col-md-2 align-plus">
                <button class="btn" [routerLink]="['/create']">
                        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                        <h6 class="add-new">Add New</h6>
                </button>
            </div>
        </div>
    </div>
    <div class="card card-default" id="card_contacts">
        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true">
            <ul class="list-group pull-down" id="contact-list">
                <li class="list-group-item" *ngFor="let contact of contactList | searchFilter:searchTerm ;let i = index">
                    <div class="row w-100">
                        <div class="col-12 col-sm-6 col-md-3 px-0">
                            <img *ngIf="contact.image" src={{contact.image}} alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                            <img *ngIf="!contact.image" src="./assets/sampleuser.png" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 text-center">
                            <span class="fa  fa-2x text-success float-right pulse" title="online now"></span>
                            <label class="name lead">{{contact.firstName}} {{contact.lastName}} </label>
                            <br> 
                            <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" ></span>
                            <span class="text-muted">{{contact.address}}</span>
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" ></span>
                            <span class="text-muted small">{{contact.phoneNumber}}</span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">{{contact.email}}</span>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 text-center text-sm-left button-list">
                                <button class="btn btn-success">Call</button>
                                <button class="btn btn-danger" (click)="deleteContact(i)">Delete</button>
                                <button class="btn btn-warning" (click)="sendEachContact(contact)" [routerLink]="['/edit']">Edit</button>
                            </div>
                    </div>
                </li>
            
            </ul>
            <!--/contacts list-->
        </div>
    </div>
</div>