<div class="card card-main">
        <button class="btn" (click)="uploadFile()">
            <img *ngIf="!imgURL" src="./assets/sampleuser.jpg" class="card-img-top heading-img" alt="...">
        </button>
        <input [hidden] = "true" (change)="selectFile($event)" type="file" id="myFile">
        <button class="btn" (click)="uploadFile()">
            <img [src]="imgURL" class="user-image-contact-save" *ngIf="imgURL">
            <i class="fa fa-pencil fa-5" aria-hidden="true"></i>
        </button>
    <div class="card-body text-center bg-light">
                <form *ngIf="eachContact">
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="name lead" for="firstName">FirstName</label>
                            <input [(ngModel)]="firstName"  type="text" class="form-control" id="firstName" placeholder="firstName" name="firstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="name lead" for="lastName">LastName</label>
                            <input [(ngModel)]="lastName"  type="text" class="form-control" id="lastName" placeholder="lastName" name="lastName">
                        </div>
                        </div>
                        <div class="form-group">
                        <label class="name lead" for="inputAddress">Address</label>
                        <input [(ngModel)]="inputAddress"  type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="inputAddress">
                        </div>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="name lead" for="Phone">Phone Number</label>
                            <input [(ngModel)]="Phone"  type="text" class="form-control" placeholder="1232123" id="inputNumber" name="phone">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="name lead" for="email">Email</label>
                            <input [(ngModel)]="email" type="email" class="form-control" placeholder="abc@xyx.com" id="inputNumber" name="email">
                        </div>
                        </div>
                    </form>
            <button  (click)="modifyContact()" class="btn btn-primary">Save Contact</button>
        </div>
    </div>
